{% extends 'facturen/index.html' %}


{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="form-container">
        <!-- Een verborgen kopie van een form om te klonen -->
        <div style="display: none;" class="form-copy">
            {{ formset.empty_form }}
        </div>
        {% for form in formset %}
            <div class="factuurregel-form">
                {{ form.as_p }}
                <button type="button" class="delete-button">Delete</button>
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-more">Add more</button>
    <button type="submit">Submit</button>
</form>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var formCount = parseInt('{{ formset.total_form_count }}');
        var addButton = document.getElementById('add-more');
        var formContainer = document.getElementById('form-container');
    
        addButton.addEventListener('click', function() {
            var newForm = formContainer.querySelector('.form-copy').cloneNode(true);
            var formRegex = RegExp('form-(\\d){1}-', 'g');
    
            formContainer.appendChild(newForm);
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, 'form-' + formCount + '-');
            newForm.style.display = 'block';
            formCount++;
    
            // Update het aantal forms in de management form
            document.getElementById('id_form-TOTAL_FORMS').value = formCount;
        });
    });
    </script>
    

{% endblock content %}